.container {
	height: 20px;
	display: flex;
	justify-content: center;
	/* margin: 20px; */
}

.img {
	height: 50px;
	width: 100px;
}

.link {
	text-decoration: none;
	color: black;
    margin: 20px;
	
}

.mainlink {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
    
}

.navimage {
	height: 40px;
	width: 40px;
   
}

.profile {
	display: flex;
	justify-content: space-around;
    margin-top: 10px;
}
