

.product{
    display: flex;
    background-color: white;
    ;
    margin-top: 5vmin;
    margin-left: 5vmin;
    height: fit-content;
    width: fit-content;
    padding: 2vmin;
    border-radius: 10px;
}

.img{
    height: 45vmin;
    width: 35vmin;
    
   
}
.details{
    display: flex;
    flex-direction: column;
    margin-left: 10vmin;
    margin-top: 20vmin;
    
}

.quantity{
    height: 4vmin;
    width: 15vmin;
    border: none;
    border-radius: 4px;
    background-color: #3669C9;
    color: white;
    margin-right: 2vmin;
    text-align: center;
    
}

.removebtn{
    height: 4vmin;
    width: 15vmin;
    border: 2px solid #3669C9;
    border-radius: 4px;
    background-color: transparent;
    color: #3669C9;
}

.orderContainer{
    
   
    margin-left: 60em;
    margin-top: -50vmin;
    position: sticky;
    width: 30em;
    height: 35em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.orderData{
    min-width: 22em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
}

.placeOrderBtn{
    margin: 1em;
    border:none;
    border-radius: 6px;
    background-color: #3669C9;
    color: white;
    padding: 1em;
    width: 22em;
    font-size: 1em;
    font-weight: bold;
}
